button{
  color:black;
}
nav{
  background-color: #a18594;
  font-style: italic;
  font-weight: bold;
}

body{
  background-image: url(https://color-hex.org/colors/51d1f6.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.footer{
    background: #152F4F;
    color:white;
  
    .links{
      ul {list-style-type: none;}
      li a{
        color: white;
        transition: color .2s;
        &:hover{
          text-decoration:none;
          color:#4180CB;
          }
      }
    }
    .about-company{
      i{font-size: 15px;}
      a{
        color:white;
        transition: color .2s;
        &:hover{color:#4180CB}
      }
    } 
    .location{
      i{font-size: 10px;}
    }
    .copyright p{border-top:1px solid rgba(255,255,255,.1);} 
  }
  
  footer{
         position: relative;
         bottom: 0;
         width: 100%;
  }
  /-----------------------------------------------------------------------------------------------------------------------------------------/
 
  .titulos{
      font-size: 150%;
      padding-top: 5%;
  }

  .forocaja{
    style="background:#FF813E; 
    color:white; 
    padding:3%; 
    border:3px solid #572364; 
    text-align:justify; 
    font-size:22px; 
    border-radius:10px;
    width:75%;
    
  }
  .Cajapregunta{
    style="background:#FF813E; 
    color:white; 
    padding:3%; 
    border:3px solid #572364; 
    text-align:justify; 
    font-size:22px; 
    border-radius:10px;
    width:45%;
  }
  .boton1{
    margin-top: 3%;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 130%;
    color: #ffffff;
    background-color: #a18594;
    border-radius: 6px;
    border: 2px solid #572364;
  }
  .boton1:hover{
    color: #572364;
    background-color: #ffffff;
  }